html,
body {
    margin: 0;
    padding: 0;
    background-color: #f6fbfc;
    transform: none;
    -webkit-border-radius: 0;
    line-height: 18px;
    /*font-family: 'Montserrat', sans-serif !important;*/
    font-family: 'Open Sans', sans-serif !important;
}




img {
	transition: all .2s ease-in-out;
}
img:hover {
	transform: scale(1.05);
}

.swiper-container img {
	transition: 0ms all;
}
.swiper-container img:hover {
	transform: scale(1);
}




a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: gray;
    text-decoration: none;
}

a img {
    margin-top: 2.5px;
}

.container {
    width: 970px;
    min-width: 970px;
    max-width: 970px;
}

.fill-width-div {
    max-width: none !important;
    min-width: 970px;
}

#background-gray {
    background-color: eceeef;
}



 #top {
            bottom: 20px;
            display: none;
            height: 50px;
            width: 50px;
            position: fixed;
            right: 20px;
			cursor: pointer;
			background:white;
			color:#636466;
			border:3px solid #636466;
			box-sizing:border-box;
			-webkit-border-radius:75px;
			z-index:9999;
}
#top i{font-size:25px;margin-top:8px;margin-left:11px}

:root {
    --slider-height: 500px;
	--slider-heightx: 545px;
	--slider-heighty: 330px;
    --slider-heightyx: 375px;
    --slider-height2: 200px;
    --slider-height2x: 316px;
    --slider-height3: 270px;
    --slider-height4: 233px;
    --slider-height5: 300px;
    --vp-box-height1: 260px;
    --vp-box-height2: 130px;
	--populer-video-gallery: 355px;
	--populer-video-gallery2: 500px;
}


.center-div{text-align:center;margin-left:auto;margin-right:auto;} 

.card-header,
.card-body,
.card {
    border: 0;
    -webkit-border-radius: 0;
    background-color: white;
}

.card-header{position:relative;}

.card-header p {
    margin: 0;
}


.link-title {
    color: black;
    font-weight: bold;
    padding: 15px 0px;
    font-size: 15px;
    text-align: right;
    border-bottom: 2px solid transparent;
}

.main-title {
    color: #004f72;
	text-align: left;
}

.card-header-left {position:absolute;border-bottom: 2px solid #004f72;z-index:2;bottom:0;left:0;}
.card-header-right {position:absolute;border-bottom: 2px solid #eceeef;z-index:2;bottom:0;right:0;}


.bold {
    font-weight: bold !important;
}

.normal {
    font-weight: normal !important;
}

.normalx {
    font-weight: 50 !important;
}


/* Renkler Baslangıc*/

.renk1 {
    color: #e0203d !important
}

.renk2 {
    color: #de558b !important
}

.renk3 {
    color: #ef2324 !important
}

.renk4 {
    color: #ff9500 !important
}

.renk5 {
    color: #fba629 !important
}

.renk6 {
    color: #fa7e5e !important
}

/* Renkler Bitis*/

.full {
    height: 100% !important;
    width: 100% !important;
}

.clear {
    margin: 0px !important;
    padding: 0px !important;
}

.clear-border {
    border: 0px !important;
}

.read-time {
	font-weight:500;
	color: #fca728;
	font-size:11px;
	padding:0;
	margin:0;
}


.top-red-border {
    border-top: 3px solid #ef2324;
}

.top-orange-border {
    border-top: 3px solid #fea928;
}

.bottom-yellow-border {
    border-bottom: 4px solid #f9e900;
}


.bottom-gray-border {
    border-bottom: 1px solid #eceeef;
}

.top-gray-border {
    border-top: 1px solid #eceeef;
}


.navbar-middle .fas , .navbar-middle .far ,.navbar-middle .fab {color:#ef2324}

.navbar-middle .nav-link {margin-top:2px}

.navbar-user-btn{background:#f6f8fa;}
.navbar-user-btn .brd-left{border-left:1px solid #eceeef}


.big-kategori:hover {color:gray !important}

/* Top-Navbar Baslangıc*/

/* Navbar icons Baslangıc*/

.navbar {padding-left:0; padding-right:0;}
.btn-icon {
    background-color: transparent;
    font-size: 1.3rem;
}

.btn-arama {
    color: black;
	background-color: transparent;
}

.btn-arama:hover {
    color: #696a6b;
}

.btn-bildirim {
    color: black;
	position:relative !important;
}

#notifications-count {
	position:absolute !important;
	right:0;
	top:5px;
	font-size:10px;
	background-color:#dc3545;
	color:white !important;
	padding:0px 5px; 
	-webkit-border-radius:75px;
}

.btn-bildirim:hover {
    color: #696a6b;
}

.btn-paylas {
    color: #83b0e7;
}

.btn-paylas:hover {
    color: #a0b9d8;
}

.btn-profil {
    color: #ef2324;
}

.btn-profil:hover {
    color: #f05d5e;
}

.dropbtn {
    background-color: transparent;
	font-size:1.3rem;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}


/* Navbar icons Bitis*/

/* Navbar buttons Baslangıc*/

.navbar-brand {
    color: black;
}

.navbar-brand:hover {
    color: black;
}

#logosize {
    font-size: 2.3rem;
    font-weight: bold;
}

#logocolor {
    color: #ef2324;
}


.navbar-items {
    font-size: 0.9rem;
    border-right: 1px solid #eceeef;
    padding-right: 10px;
    border-left: 1px solid #eceeef;
    padding-left: 10px
}
.navbar-itemsx {
    font-size: 0.9rem;
}

.navbar-items i , .navbar-itemsx i {font-size: 1.4rem;}

.navbar { color: black;font-size:0.9rem;}


.navbar-middle .nav-link{font-weight:700}

.navbar li a {
    color: black
}

.navbar li a:hover {
    color: gray
}

/* Navbar buttons Bitis*/

/* Top-Navbar Bitis*/

/* Bottom-Navbar Baslangıc*/

.shodoweffect {
    box-shadow: 0 6px 2px -5px rgba(0, 0, 0, 0.19);
}

.shodoweffect2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}



.first-nav-item {
    padding-left: 0 !important
}

/* Bottom-Navbar Bitis*/

/* Ust Manset Baslangıc*/

.ustmanset img {
    height: 80px
}

.ustmanset .media {
	background:white;
	padding:5px;
	padding-top:2.5px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03), 0 2px 2px 0 rgba(0, 0, 0, 0.03);
}


.haber-module {
    overflow: hidden;
}

.haber-line-clamp {
    position: relative;
    height: 4.6rem;
    /* exactly three lines */
}

.haber-line-clamp:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 1.1rem;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}


@supports (-webkit-line-clamp: 4) {
    .haber-line-clamp {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        max-height: 4.6rem;
        height: auto;
    }
    .haber-line-clamp:after {
        display: none;
    }
}






/* Ust Manset Bitis*/

/* Piyasalar Baslangıc*/

.box1 {
    width: 150px;
    text-align: center;
}
.piyasalar .box1 {padding: 15px 0px;}

.box2 {
    width: 220px;
    text-align: center;
    border-right: 1px solid #eceeef;
    border-left: 1px solid #eceeef;
    padding: 15px;
}
.nav-5-havadurumu {
    width: 220px;
    text-align: center;
    padding: 5px;
}

.piyasa-title {
    font-size: 15px;
    font-weight: 700;
}

.city-select {
    background-color: transparent;
    border: 0;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.box1 .paradeger {
    color: #004f72;
    font-size: 14px;
    font-weight: 700;
}

.box1 .paradegisim1 {
    color: #14b261;
    font-size: 14px;
    font-weight: 700;
}

.box1 .paradegisim2 {
    color: #ef2324;
    font-size: 14px;
    font-weight: 700;
}

.piyasalar .box2 div {
    float: left;
    font-size: 14px;
    margin-left: 5px;
}

.piyasalar .box2 .fa-caret-down {
    float: left;
    margin-top: 5%;
    margin-left: 5px;
}

/* Piyasalar Bitis*/

/* Son 24 48 haberler Baslangıc*/

.son248haberler .nav .nav-link {
    color: #a0a4a7;
    font-weight: bold;
    font-size: 12px;

}

.son248haberler .nav .active {
    background-color: #ff1a36;
    font-weight: bold;
    color: white
}

.son248haberler .tab-content {
    height: 496px;
}
.son248haberler2  .tab-content {
    height: 542px ;
}


.son248haberler .nav {
    height: 40px;
}


.son248haberler2 .kategori-box{margin:0;margin-top:10px !important;padding:0!important;}
.son248haberler2 .kategori-box img{height:90px}

.haber2-line-clamp {
    position: relative;
    height: 3.3rem;
    /* exactly three lines */
}

.haber2-line-clamp:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 0.9rem;
    background: linear-gradient(to right, rgba(246, 251, 252, 0), rgba(246, 251, 252, 1) 50%);
}

@supports (-webkit-line-clamp: 3) {
    .haber2-line-clamp {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        max-height: 3.3rem;
        height: auto;
    }
    .haber2-line-clamp:after {
        display: none;
    }
}



/* Son 24 48 haberler bitis*/

/* Yazar Kosesi Baslangıc*/

.yazarkosesi .nav .nav-link {
    color: white;
    border: 0px;
    background-color: transparent;
    font-weight: normal;
	margin-top:5px;
}

.yazarkosesi .nav .active {
    background-color: #ff1a36;
    background-color: transparent;
	font-weight: bold;
}


.yazarkosesi3  .nav .nav-link {
    color: #adb3b5;
}

.yazarkosesi3  .nav .active {
	color: black;
}


.yazarkosesi .tab-content {
    height: 496px;
}

.yazarkosesi8 .yazarkosesi .tab-content {
    height: 542px ;
}

.yazarkosesi3 .tab-content {
    height: calc(496px/2);
}

.yazarkosesi .nav {
    height: 40px;
}

.yazarrow {
    height: 100%;
    margin: 0 !important;
	text-align:left;
}

.yazarbox {
    height: calc(496px/2);
    padding: 20px !important;
    margin: 0 !important;
	border: 0.5px solid #5e69a5;
}

.yazarkosesi2 .yazarbox{border:0.5px solid #eaeaea}

.not-brd-bottom{border-bottom:0 !important;}
.not-brd-top{border-top:0 !important;}




.yazarbox img {
    height: 75px;
    margin-right: 10px;
}
.yazarkosesi6 img , .yazarkosesi7 img {-webkit-border-radius:75px}
.yazarkosesi6 p , .yazarkosesi7 p {color:#ff3a52 !important}

.yazarkosesi8 img {height:105.5px !important;margin-top:0 !important;}

.yazarkosesi8 .yazarbox {padding:10px !important;height:auto !important}

.yazarkosesi8 .yazarrow {height:125.5px;margin-top:10px !important;background:white}
.yazarkosesi8 .tab-content {height:auto}

.yazarbox h5 {
    margin-top: 9px;
    color: white;
    font-weight: 500;
	font-size:18px;

}

.yazarbox h6 {
    color: white;
    font-weight: 500
}

.yazarbox p {
    color: #fca728;
	font-size:13px;
	padding:0;
	margin:0;
}

.yazarkosesi8 .yazar-detay i{margin-top:45px;}

.yazarkosesi3 .yazarbox h6 {color:#145c7d !important}
.yazarkosesi4 .yazarbox h6 {color:white!important}
.yazarkosesi5 .yazar-title p{color:#7ecfb3}


.yazarkosesi2 .yazarbox h5 {
    color: black;
}

.yazarkosesi2 .yazarbox h6 {
    color: black;
}


.yazar-module {
    overflow: hidden;
}

.yazar-line-clamp {
    position: relative;
    min-height: 4.09rem;
    height: 4.09rem;
}

.yazarkosesi8 .yazar-line-clamp {
	min-height: 3.2rem !important;
    height: 3.2rem !important;
}

.yazarkosesi2 .yazar-line-clamp:after ,
.yazarkosesi3 .yazar-line-clamp:after ,
.yazarkosesi5 .yazar-line-clamp:after ,
.yazarkosesi6 .yazar-line-clamp:after{
	 background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}


.yazar-line-clamp:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 1.6rem;
    background: linear-gradient(to right, rgba(53, 67, 142, 0), rgba(53, 67, 142, 1) 50%);
}

.yazarkosesi4 .yazar-line-clamp:after{background: linear-gradient(to right, rgba(53, 67, 142, 0), rgba(53, 67, 142, 1) 50%);}

@supports (-webkit-line-clamp: 3) {
    .yazar-line-clamp {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        max-height: 4.8rem;
        height: auto;
    }
    .yazar-line-clamp:after {
        display: none;
    }
}

@supports (-webkit-line-clamp: 2) {
    .yazarkosesi8 .yazar-line-clamp {
        display: -webkit-box;
        -webkit-line-clamp: 2 !important;
        -webkit-box-orient: vertical;
        max-height: 3.2rem !important;
        height: auto;
    }
    .yazarkosesi8 .yazar-line-clamp:after {
        display: none;
    }
}


/* Yazar Kosesi bitis*/

/*Gunluk Manset Baslangıc*/

.gunlukmansetler {
    padding-bottom: 25px;
}

.gunlukmansetler .nav .nav-link {
    color: black;
    border: 0px;
    background-color: transparent;
    font-weight: bold;
}

.gunlukmansetler .nav .active {
    font-weight: bold;
    color: #f22f19;
    border: 0px;
    background-color: transparent
}



.gunlukmansetler .baslik {
    width: 340px;
    margin-top: 7px;
    font-size: 20px;
}

.gunlukmansetler .g-m-p {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.gunlukmansetler .baslik i {
    color: #ef2324
}

.mansetbox .mansetbox {
    height: 250px;
}

.mansetbox .resimKapsayici {
    position: relative;
    height: 200px;
}

.mansetbox .resimKapsayici img {
    height: 100%;
    width: 100%;
}

.mansetbox .minihaberbox p {
    font-weight: bold;
    font-size: 12px;
}

.mansetbox .resimYazisi {
    position: absolute;
    left: 10px;
    top: 10px;
    color: white;
    border-radius: 45px;
    font-size: 14px;
}

.mansetbox .resimYazisi1 {
    position: absolute;
    left: 10px;
    bottom: 20px;
    color: #b1b4b6;
    font-size: 18px;
}

.mansetbox .resimYazisi2 {
    position: absolute;
    right: 30px;
    bottom: 20px;
    color: white;
    font-size: 60px;
}

.mansetbox .cubuk {
    position: absolute;
    height: 5px;
    width: 50px;
    background-color: white;
    margin-top: 15px;
    bottom: 50px;
    left: 10px;
}

.mansetbox .resimYazisibutton {
    width: 80px;
    font-size: 10px;
}

.mansetbox .haberbox {
    font-weight: bold;
}


.manset-line-clamp {
    position: relative;
    max-height: 2.4rem;
    /* exactly three lines */
}

.manset-line-clamp:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25%;
    height: 1.2rem;
    background: linear-gradient(to right, rgba(246, 251, 252, 0), rgba(246, 251, 252, 1) 50%);
}

@supports (-webkit-line-clamp: 2) {
    .manset-line-clamp {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        max-height: 2.4rem;
        height: auto;
    }
    .manset-line-clamp:after {
        display: none;
    }
}

/* Gunluk Manset bitis*/

/* Kategori Haberler Baslangıc*/

#pills-kategori1-tab {
    color: #1abc9c
}

#pills-kategori2-tab {
    color: #f1c40f
}

#pills-kategori3-tab {
    color: #2ecc71
}

#pills-kategori4-tab {
    color: #e67e22
}

#pills-kategori5-tab {
    color: #9b59b6
}

#pills-kategori6-tab {
    color: #e74c3c
}

.kategorihaberler .tab-content {
    width: 100%;
}


.kategorihaberler .nav .nav-item a {
    padding: 0px;
    /*border-top: 2px solid transparent;*/
    font-size: 14px
}

.kategorihaberler .nav .nav-item span {
    border-top: 2px solid transparent;
    padding: 14px 10px
}

.kategorihaberler .nav .active span {
    border-radius: 0px;
    border-top: 2px solid #3498db !important;
}

.kategorihaberler .nav .nav-item {
    height: 50px;
    line-height: 50px;
    background: white;
    margin: 0 5px
}

.kategorihaberler .nav .nav-link {
    text-align: center;
    font-weight: bold;

    background-color: white;
}




.kategorihaber-slider {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}




.kategori-box {
    padding: 5px;
    padding-left: 6px !important;
    height: 100px;
}

.kategorihaberler .kategori-box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.kategori-img {
    height: 85px;
}

.kategorihaber-slider .swiper-slide p {
    margin: 2px 0px;
    font-size: 16px !important
}

.kategorislider-line-clamp {
    position: relative;
    height: 3.4rem;
}

.kategorislider-line-clamp:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25%;
    height: 1.2rem;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

@supports (-webkit-line-clamp: 3) {
    .kategorislider-line-clamp {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        max-height: 3.4rem;
        height: auto;
    }
    .kategorislider-line-clamp:after {
        display: none;
    }
}


.kategori-line-clamp {
    position: relative;
    max-height: 4.6rem;

}

.kategori-line-clamp:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%;
    height: 1.2rem;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

@supports (-webkit-line-clamp: 4) {
    .kategori-line-clamp {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        max-height: 4.6rem;
        height: auto;
    }
    .kategori-line-clamp:after {
        display: none;
    }
}



/* Kategori Haberler bitis*/

/* Populer Galeriler Baslangıc*/

.populargaleriler {
    background-color: #010f0c;
    color: white;
}

.populargaleriler .rowh {
    height: 233px
}

.populargaleriler .nav .nav-link {
    color: #f3f3f3;
    font-weight: bold;
    background-color: transparent;
    font-size: 16px;
    margin-top: 2px;
}

.populargaleriler .nav .active {
    font-weight: bold;
    font-size: 18px;
    margin-top: 0px;
    color: white;
}

.populargaleriler .renk2 {
    font-size: 25px;
    margin-top: 5px;
}



.swiper-slider-9 .populer-geleri-yonlendirici button {
    bottom: 10px;
    top: auto;
    left: 15px;
    right: auto;
    -webkit-border-radius: 10px;
}

#P-G-Count-Btn {
    bottom: 130px;
    top: auto;
    left: 15px;
    right: auto;
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.30);
    border: 1.4px solid #707070;
    color: white
}

#P-G-Count-Btn2 {
    bottom: 130px;
    top: auto;
    left: 15px;
    right: auto;
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.30);
    border: 1.4px solid #707070;
    color: white
}

#P-G-aciklama {
    bottom: 70px;
    top: auto;
    left: 15px;
    right: auto;
    position: absolute;
    z-index: 2;
}

#P-G-aciklama h6 {
    font-weight: bold;
}

.swiper-slider-9 img,
.swiper-slider-10 img,
.swiper-slider-11 img {
    height: var(--slider-height4);
    width: 100%;
}

.swiper-slider-9 .resim-efekt,
.swiper-slider-10 .resim-efekt,
.swiper-slider-11 .resim-efekt {
    height: var(--slider-height4);
    width: 100%;
}

.swiper-slider-9 p,
.swiper-slider-10 p,
.swiper-slider-11 p {
    font-weight: bold;
    color: white;
    z-index: 3;
    position: absolute;
    top: auto;
    bottom: 0;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

/* Populer Galeriler bitis*/

.resim-efekt {
    background-image: linear-gradient(transparent 65%, #000);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;

}

.p-absolute {
    position: absolute;
}


/* Populer Videolar Baslangıc*/

.popularvideolar {
    background-color: #31393b;
    color: white;
}

.popularvideolar a,
.populargaleriler a {
    color: white;
}

.popularvideolar .nav .nav-link {
    color: #f3f3f3;
    font-weight: bold;
    background-color: transparent;
    font-size: 16px;
    margin-top: 2px;
}

.popularvideolar .nav .active {
    font-weight: bold;
    font-size: 18px;
    margin-top: 0px;
    color: white;
}

.popularvideolar .renk3 {
    font-size: 25px;
    margin-top: 5px;
}

.popularvideolar .vp-box {
    position: relative;
    height: var(--vp-box-height1);
}

.popularvideolar p {
    line-height: 20px;
}

.popularvideolar .big-playbutton {
    color: white;
    border: 1px solid white;
    -webkit-border-radius: 75px;
    height: 75px;
    width: 75px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.40);
    margin-top: calc( (var(--vp-box-height1)/2) - 37.5px);
    margin-left: calc((100%/12*6) - 37.5px);
    z-index: 3;
}

.popularvideolar .big-playbutton i {
    margin-left: 30px;
    margin-top: 27px;
}


.popularvideolar .vp-box2 {
    position: relative;
    height: var(--vp-box-height2);
}

.popularvideolar .vp-box2 p {
    font-size: 13px;
    z-index: 3;
    top: auto;
    bottom: 0;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.popularvideolar .small-playbutton {
    color: white;
    border: 1px solid white;
    -webkit-border-radius: 75px;
    height: 40px;
    width: 40px;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.40);
    margin-top: 15px;
    margin-left: 15px;
    z-index: 3;
}

.popularvideolar .small-playbutton i {
    margin-left: 14px;
    margin-top: 12px;
}







.populer-video-gallery{height:var(--populer-video-gallery);background:white;}

.p-v-g-content{  height:100%;
  padding:15px 30px !important;
  padding-bottom:5px!important;
  
}

.populer-video-gallery-color
{
  background: #e1546c;
  background: -moz-linear-gradient(left, #e1546c 27%, #725cac 100%);
  background: -webkit-linear-gradient(left, #e1546c 27%,#725cac 100%);
  background: linear-gradient(to right, #e1546c 27%,#725cac 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1546c', endColorstr='#725cac',GradientType=1 );
}
.p-v-g-content-color {
  background: #ee657a;
  background: -moz-linear-gradient(left, #ee657a 0%, #836cc0 100%);
  background: -webkit-linear-gradient(left, #ee657a 0%,#836cc0 100%);
  background: linear-gradient(to right, #ee657a 0%,#836cc0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee657a', endColorstr='#836cc0',GradientType=1 );
  box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.08), -12px 0 8px -4px rgba(0, 0, 0, 0.08);
}
.p-v-g-content .row{
  height:100%;
  color:white;
}

.populer-video-gallery-title {font-weight:600}






.p-v-a-g  {
	height:var(--populer-video-gallery);
}
.p-v-a-g .nav .nav-link {
    background:transparent;
	color:black;
	font-weight:500;
	text-align:center;
	height:40px;
	-webkit-border-radius:0;
	padding-top:12px;
}

.p-v-a-g .nav .active {
	 background:white;
    
}

.p-v-a-g .nav {

}
.p-v-a-g .tab-content {
	background:white;
	height:calc( var(--populer-video-gallery) - 40px );
	padding:15px;
	padding-bottom:10px !important;
}





.populer-video-gallery2 {
	height:var(--populer-video-gallery2);
	background-color:white;
	padding-top:10px;
	padding-bottom:30px;
}


.p-v-g2-content {
	height:calc( var(--populer-video-gallery2) - 72px );
	width:100%;
}

.p-v-g2-content .v-g-box2{height:calc( (((var(--populer-video-gallery2) - 72px )) - 20px ) / 3 ) ;}

.p-v-g2-content .mr10 {margin-top:10px;}

.p-v-g2-content .v-g-box .small-playbutton  {
    color: white;
    border: 1px solid white;
    -webkit-border-radius: 75px;
    height: 40px;
    width: 40px;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.40);
    z-index: 3;
	left:15px !important;
	top:10px !important;
	text-align:center;
}
.p-v-g2-content .v-g-box .small-playbutton:hover {
    color: gray;
}

.p-v-g2-content .v-g-box  .small-playbutton i  {
    margin-top: 12px;	
}

.p-v-g2-content .v-g-box .v-g-box-content {
	position:absolute;
	font-weight:500;
	left:20px;
	bottom:10px;
	z-index: 3;
	color:white;
}

.p-v-g2-content .v-g-box .v-g-box-content:hover {
	color:gray;
}

.p-v-g2-content .v-g-box  p {position:absolute;top:0;right:0;z-index:4;font-size:12px;background-color:rgba(0,0,0,0.4);padding:5px;color:white;}
.p-v-g2-content .v-g-box {position:relative}




.p-v-g2-content .v-g-box .big-playbutton  {
    color: white;
    border: 1px solid white;
    -webkit-border-radius: 75px;
    height: 76px;
    width: 76px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.40);
    top: calc( ((var(--populer-video-gallery2) - 72px ) / 2 ) - 39px );
    left: calc((100%/12*6) - 37.5px);
    z-index: 3;
	text-align:center;
}

.p-v-g2-content .v-g-box  .big-playbutton i  {
    margin-top:27px
}

.p-v-g2-content .v-g-box .big-playbutton:hover {
    color: gray;
}






/* Populer Videolar bitis*/

/* Spor ve Magazin Tab Baslangıc*/

.sportab .nav,
.magazintab .nav {
    background-color: white;
}

.sportab .nav .nav-link,
.magazintab .nav .nav-link {
    color: #33324b;
    font-weight: bold;
    padding: 15px 0px;
    font-size: 15px;
    text-align: center;
    border-radius: 0;
}

.sportab .nav .active {
    color: #2fbb73;
    background-color: transparent;
    border-bottom: 1px solid #2fbb73;
}

.magazintab .nav .active {
    color: #ae34cc;
    background-color: transparent;
    border-bottom: 1px solid #ae34cc;
}


.mini-haber-box p {
    line-height: 21px;
    font-weight: bold;
    font-size: 12px;
	background:white;
	padding:10px;
}

.magazintab .rowh {
    height: 316px;
    min-height: 316px;
    max-height: 316px
}

.sportab .rowh {
    height: 316px;
    min-height: 316px;
    max-height: 316px
}

.magazintab .rowh .swiper-slide,
.magazintab .rowh .swiper-slide .resim-efekt,
.magazintab .rowh .swiper-wrapper {
    height: 300px;
    min-height: 300px;
    max-height: 300px
}

.sportab .rowh .swiper-slide,
.sportab .rowh .swiper-slide .resim-efekt,
.sportab .rowh .swiper-wrapper {
    height: 300px;
    min-height: 300px;
    max-height: 300px
}

.spormagazin-line-clamp {
    position: relative;
    max-height:57px;
}

.spormagazin-line-clamp:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25%;
    height: 20px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 60%)
}

@supports (-webkit-line-clamp: 2) {
    .spormagazin-line-clamp {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
		max-height:57px;
        height: auto;
    }
    .spormagazin-line-clamp:after {
        display: none;
    }
}

/* Gunlu


/* Spor ve Magazin Tab bitis*/

/* Firma Rehberi ve Seri İlanlar Baslangıc*/

.firmarehberi a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}



.firmarehberi .btn {
    font-size: 11px;
}

.firmarehberi .swiper-slide {
    margin-bottom: 40px;
    padding: 0px 10px;
}

.firmarehberi img {
    border: 1px solid gray;
    height: 125px;
    width: 100%;
}

.firmarehberi .swiperbox p {
    font-size: 13px;
    text-align: left;
    padding-left: 7px;
}

.firmarehberi .color2 {
    color: gray
}


.firmarehberi .swiper-pagination-bullet {
    font-size: 0px;
    width: 15px;
    height: 15px;
    background-color: gray;
    border-radius: 75px;

}

.firmarehberi .swiper-pagination-bullet-active {
    background-color: white;
    border: 4px solid #fd722f;
}

.firmarehberi .ilanbox {
    font-size: 13px;
    height: 65px;
    padding-left: 5px;
}

.firmarehberi .ilanbox a:hover {
    color: gray
}


.swiper-slider-23,
.swiper-slider-23 .swiper-wrapper {
    height: 259.5px;
    min-height: 259.5px;
    max-height: 259.5px
}

/* Firma Rehberi ve Seri İlanlar  bitis*/

/* Anket Baslangıc*/

.anket .form-check {
    border: 1px solid gray;
    -webkit-border-radius: 5px;
    height: 40px
}

.anket .form-check label,
.anket .form-check input {
    margin-top: 7px;
}

.anket .form-check img {
    height: 100%;
    padding: 5px
}

.anket .anket-form .btn {
    padding: 10px 20px
}

.anket .form-check:hover {
    border: 1px solid #4ad5b6;
}

.anket2 .anketbox {
	border:1px solid #343a40 !important;
}

.anket2 input {    
    position:absolute;
	top:50%;
	left:8px;
}  
.anket2 .anketbox img {    
    padding: 3px 5px !important;
    margin-left:4px;
}  

.anket2 input:checked {    
    
} 

/* Anket Bitiş*/

/* Lig Fikstür Baslangıc*/

.ligfikstur .card-header,
.ligfikstur .card-body,
.ligfikstur .card {
    border: 0;
    -webkit-border-radius: 0;
}



.ligfikstur button {
    background-color: #f2f2f2;
    -webkit-border-radius: 0;
}


.ligfikstur .nav .nav-link {
    padding: 0px 10px;
    background-color: transparent;
    height: 68px
}

.ligfikstur .nav .active {
    border: 2px solid #80e2cc;
}

.ligfikstur .table-hover tbody tr {
    box-sizing: border-box;
    font-weight: bold;
    font-size: 14px;
    border-left: 4px solid rgba(255, 255, 255, 0);
    border-right: 4px solid rgba(255, 255, 255, 0);
    -webkit-border-radius: 0;
}

.ligfikstur .table-hover tbody tr:hover {
    background-color: white;
    border-left: 4px solid #fea928;
    border-right: 4px solid #fea928;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.19);
}

.gizlenen {
    display: none;
}

.gosterilen {
    display: table-row-group;
}

/* Lig Fikstür Bitiş*/

/* Namaz Vakitleri Baslangıc*/

.namazvakitleri .card-header,
.namazvakitleri .card-body,
.namazvakitleri .card {
    border: 0;
    -webkit-border-radius: 0;
}

.namazvakitleri {
    border-bottom: 5px solid #fdcf60;
}

.namazvakitleri .card-header {
    background-color: #802c6d;
    border-bottom: 1px solid #8c407b
}

.namazvakitleri .link-title {
    color: #c39cba;
    font-weight: bold;
    font-size: 13px;
    margin-top: 11px;
    border: 0;
}

.namazvakitleri .main-title {
    color: white;
    font-size: 16px;
    margin-top: 10px;
    border: 0;
}

.namazvakitleri .card-header select {
    width: auto;
    background-color: transparent;
    border: 0;
    color: white;
    font-weight: bold;
}

.namazvakitleri .card-header select option {
    color: black;
}


.namazvakitleri table {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.namazvakitleri td {
    border: 1px solid #9d4b8a;
    background-color: #93387e;
}

.namazvakitleri .vakitad {
    background-color: #9d3d87;
    color: white;
    width: 55px;
}

.namazvakitleri .vakitad-content {
    font-size: 15px;
}

.namazvakitleri .vakit {
    color: white;
    width: 40px;
    font-weight: bold;
    border-right: 1px solid rgba(255, 255, 255, 0);
}

.namazvakitleri .vakit .vakit-content {
    font-size: 15px;
}

.namazvakitleri .vakitaciklama {
    border-left: 1px solid rgba(255, 255, 255, 0);
    color: #bf94b5;
}

.namazvakitleri .vakitaciklama p {
    width: 100%;
    line-height: 20px;
}

.namazvakitleri .vakitaciklama .zamanakiyor b {
    font-size: 11px;
    float: left
}

.namazvakitleri .vakitaciklama .zamantukendi i {
    font-size: 20px;
    float: left;
}

.namazvakitleri .vakitaciklama .zamantukendi span {
    float: left;
    font-weight: bold;
    font-size: 10.4px;
}

/* Namaz Vakitleri Bitiş*/

/* Gazeteler Baslangıc*/

.gazeteler .gazete-yonlendirici {
    width: 100%;
    padding: 10px 0px;
    z-index: 5;
}

.gazeteler .gazete-yonlendirici h5 {
    font-weight: bold;
    text-align: center;
    top: auto;
    right: 0;
    left: 0;
    bottom: 15px;
    z-index: 5;
    position: absolute;
}

.gazeteler .gazete-yonlendirici button {
    height: 50px;
    width: 50px;
    background-color: white;
    z-index: 5;
    position: absolute;
}

.gazeteler .gazete-yonlendirici .left {
    top: auto;
    right: 20px;
    left: auto;
    bottom: 10px;
}

.gazeteler .gazete-yonlendirici .right {
    top: auto;
    right: auto;
    left: 20px;
    bottom: 10px;
}

.swiper-slider-24 {
    max-height: 420px;
    min-height: 420px;
}

.swiper-slider-24 .swiper-slide {
    width: 90%;
    height: 350px;
}

.swiper-slider-24 .swiper-wrapper {
    width: 80%;
    height: 350px;
    text-align: center;
}

.swiper-slider-24 img {
    width: 100%;
    height: 350px;
}


/* Gazeteler Bitiş*/

/* Roportajlar Baslangıc*/

.roportajlar .roportaj-yonlendirici {
    width: 100%;
    padding: 10px 0px;
    z-index: 5;
}

.roportajlar .roportaj-yonlendirici button {
    color: white;
    height: 35px;
    width: 35px;
    background-color: #fa7e5e;
    text-align: center;
    z-index: 5;
    position: absolute;
    -webkit-border-radius: 75px;
}

.roportajlar .roportaj-yonlendirici .left {
    top: auto;
    right: auto;
    left: 190px;
    bottom: 10px;
}

.roportajlar .roportaj-yonlendirici .right {
    top: auto;
    right: auto;
    left: 145px;
    bottom: 10px;
}

.swiper-slider-25 {
    max-height: 130px;
}

.swiper-slider-25 .swiper-slide {
    height: 130px;
}

.swiper-slider-25 .swiper-wrapper {
    height: 130px;
}

.swiper-slider-25 p {
    font-size: 13px;
    text-align: left;
    line-height: 20px
}

.swiper-slider-25 .rowx {
    height: 130px;
    width: 100%;
}

/* Roportajlar Bitiş*/

/* Dergiler Baslangıc*/

.dergiler .card-body p{font-size:14px}

.swiper-slider-26 {
    max-height: 250px;
}

.swiper-slider-26 .swiper-slide {
    height: 230px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 20px
}

.swiper-slider-26 .swiper-wrapper {
    height: 240px;
}


/* Dergiler Bitiş*/

/* KARİKATURLER Baslangıc*/

.karikaturler .swiper-button-next,
.karikaturler .swiper-button-prev {
    height: 20px;
}

.swiper-slider-27 {
    max-height: 270px;
}

.swiper-slider-27 .swiper-slide {
    height: 270px;
    padding: 0px 20px
}

.swiper-slider-27 .swiper-wrapper {
    height: 270px;
}

.swiper-slider-27 img {
    height: 230px;
}


/* KARİKATURLER Bitiş*/



/* Yerel Haberler Baslangıc*/
.yerelhaberler ul {
	list-style:none;
	font-size:12px;
	font-weight:600;
	padding:20px !important;
}


.yerelhaberler ul li{
	border-bottom:1px  solid  #f1f1f1;
	padding:8px 0px;
}

.yerelhaberler ul li:last-child{
	border-bottom:0px;
}



.yerelhaberler .sehir-ad{
	color:#dc3545;
}
.yerelhaberler .saat{
	font-weight:normal;
}
.yerelhaberler .icerik{
	font-size: 14px;
    display: block;
    margin-top: 5px;
}

/* Yerel Haberler Bitiş*/



/* Footer Baslangıc*/

.footer {
    background-color: #214289;
    font-weight: bold;
	color:white;
}
.footer2 {
	background-color: #1a1a1a;
    font-weight: normal;
}

.footer2 hr {background-color:#464646;height:1px;margin:7px 0px}

.footer .container {
	border-top:5px solid #fea928;
    padding: 30px 0;
}

.logosize {
    font-size: 2.3rem;
}

.copyright {
    font-size: 12px;
}

.daire {
    height: 75px;
    width: 75px;
    margin-top: 5px;
    background-image: linear-gradient(to right bottom, #e0213e, #d4203b, #c71e38, #bb1d34, #af1b31);
    -webkit-border-radius: 75px
}

.footer h2, .footer p {
    font-size: 14px
}

.footer a {
    text-decoration: none;
    color: white;
    padding: 5px 0px;
    font-size: 14px;
}
.footer h6 {text-transform: uppercase;}

.footer .social-media a {
    color: white;
    text-decoration: none;
    font-size: 18px;
	text-align:center;
}
.footer .social-media a i {width: 32px !important;height: 32px !important;}

.footer2 .social-media a {
	color:#1a1a1a;
	background-color:white;
}

.light-footer .social-media a {background-color:#1a1a1a;color:white}


.footer2 p i {color:#fea928}


.footer2 .links {padding-left:15px;}
.footer2 .links li{padding-top:14px;}


.light-footer {background:#f8f8f8;}
.light-footer a{color:#343a40;}


.footer .footer-tags .btn-light {
    background-color: #f8f9fa10;
    margin: 5px;
    border: none;
    color: #f9f9f9;
}
.light-footer .footer-tags .btn-light {
	background-color:#343a404d;
}

.footer a:hover,
.footer .footer-tags .btn-light:hover {
    color: #fea928;
}

.altcizgi {
    background-color: #fea928;
    height: 5px;
    width: 50px;
    margin: 10px 0px
}

.footer form input {
    -webkit-border-radius: 0;
    background-color: #f5f5f5;
    color: black;
    border: 0.5px solid #bdc3c7;
	-webkit-border-radius:5px;
}

.footer form input::placeholder {
    color: #bdc3c7;
}

.footer form button {
    -webkit-border-radius: 5px;
    background-color: #559fd7;
    border: 0;
}

.footer .footer-bottom {
    background-color: #fea928;
	color:white
}


.footer .footer-bottom span {
    padding: 10px 0px
}

.footer2 .hbr-box img{height:75px;}



/* Footer Bitiş*/

#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translate(0px, -100%) scale(0, 0);
    -moz-transform: translate(0px, -100%) scale(0, 0);
    -ms-transform: translate(0px, -100%) scale(0, 0);
    -o-transform: translate(0px, -100%) scale(0, 0);
    transform: translate(0px, -100%) scale(0, 0);
    opacity: 0;
    display: none;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
    -ms-transform: translate(0px, 0px) scale(1, 1);
    -o-transform: translate(0px, 0px) scale(1, 1);
    transform: translate(0px, 0px) scale(1, 1);
    opacity: 1;
    z-index: 10000;
    display: block;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -51px;
    width: 60%;
    margin-left: 20%;
    color: rgb(255, 255, 255);
    background: transparent;
    border-top: 1px solid rgba(255, 255, 255, .8);
    border-bottom: 2px solid rgba(255, 255, 255, .5);
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    outline: none;
    padding: 10px;
}

#search .close {
    position: fixed;
    top: 15px;
    right: 15px;
    opacity: 1;
    font-size: 27px;
    color: #fff;
}

#search .close:hover {
    color: #FC2121;
    cursor: pointer;
}

#dd-m {-webkit-border-radius:0;background-color:transparent;border:0;padding:0;}
#dd-m .dropdown-item {padding:0;}


#navbarDropdownMenuLink {font-size:0.9rem;padding:0;padding-top:0.2rem;}


#menu_box {
	position:relative;
	width:600px;
}
#menu_box:hover ,#menu_box:active {
	background:transparent;
}

#menu_button_cb {
	display:none;
}



#menu_button:hover {
	color:gray;
}

#navbar_menu {
	top:0;
	background:white;
	left:0;
	z-index:5;
	padding:10px 30px;
}

#navbar_menu:after {
	content: '';
    position: absolute;
    left: 0;
    top: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #eaeaea;
}

.dropdown-menu-right #navbar_menu:after {
	left: calc( 100% - 20px );
}

#navbar_menu a {
	font-size:16px;
	font-weight:500;
	padding:10px 0px;
}
#navbar_menu a:hover , #navbar_menu .kck_links a :hover {
	color:#ef2324;
}

#navbar_menu a i{
	color:#ef2324;
	width:30px
}

#navbar_menu .kck_links a {
	font-size:14px;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ef2324; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #f05d5e; 
}

.row,
.form-horizontal .form-group {
    margin-left: -5px;
    margin-right: -5px;
}


[class*="col-"],
.container,
.container-fluid {
    padding-left: 5px;
    padding-right: 5px;
}
