
.svg-turkiye-haritasi {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
}
.svg-turkiye-haritasi svg {
  width: 100%;
  height: auto;
}
.il-isimleri {
  position: absolute;
  z-index: 2;
}
.il-isimleri div {
  font-family: 'Open Sans';
  display: inline-block;
  background: #4c8ddc;
  color: #fff;
  padding: 8px 16px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 5px 5px 5px 0px; 
}


.il-isimleri div:after {
	content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #4c8ddc;
}


#svg-turkiye-haritasi path {
  cursor: pointer;
  fill: #b9c5d1;
}
#svg-turkiye-haritasi path:hover {
  fill: #114171;
}
#guney-kibris {
  pointer-events: none;
}
